/vendor/
/vendor-bin/
/.php-cs-fixer.cache
/.phpunit.cache/
/coverage/
/deptrac.cache
/phpstan/resultCache.php
/.idea/
/.vscode/
.DS_Store
Thumbs.db
# релизные артефакты
/packages/
# локальные overrides тестов/инструментов (если используете)
phpunit.xml
/.deptrac.cache
