/vendor/
/vendor-bin/
/.php-cs-fixer.cache
/.phpunit.cache/
/.phpunit.result.cache
/coverage/
/deptrac.cache
/phpstan/resultCache.php
/.idea/
/.vscode/
.env
.env.local
node_modules/
.DS_Store
Thumbs.db
# релизные артефакты
/packages/
# локальные overrides тестов/инструментов (если используете)
phpunit.xml
/.deptrac.cache
